/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

th, td {
    padding: 5px 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
